ul {  
  list-style-type: none;
}  

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:link { 
  text-decoration: none;
  color: black;
}
a:visited { 
  text-decoration: none; 
}
a:hover { 
  text-decoration: none; 
  color: white;
  font-weight: bold;
}
a:active { 
  text-decoration: none; 
}

.menu-btn {
  float: right;
  padding-left: 30px;
  padding-right: 30px;
}

.float-r {
  float: right;
}

.text-c {
  text-align: center;
}

.tag {
  margin-left: 30px;
  margin-right: 30px;
}

.box-text {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;  
}