body {
  margin: 0;
  font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
  background-color:#7f8770;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}